.bt-button
  display inline-block
  vertical-align middle

.wa-input-50
  width 50%

.wa-toggler
  background-color c-dark-turquoise
  &:hover
    background-color lighten(c-dark-turquoise, 20%)

.wa-toggler-off
  &,
  &:hover
    background-color darken(c-dark-turquoise, 20%)
