.fm-container
  margin 20px 0

.fm-field
  position relative
  margin-top 10px
  &:first-child
    margin-top 0

.fm-textarea-field
  margin-top 25px

.fm-picker,
.fm-title-picker
  top initial
  bottom 0
  width 22px

.fm-picker-image
  right 100%

.fm-title-picker
  right 22px

.fm-browse-images-wrapper
  position absolute
  cursor pointer
  bottom 0
  right calc(100% + 22px)
  &:hover .fm-browse-images
    background-color c-bright-turquoise

.fm-browse-images
  position static
  width 22px

.fm-browse-image-input
  left 0

