.fm-container
  margin 20px 0

.fm-field
  position relative
  margin-top 10px
  &:first-child
    margin-top 0

.fm-picker,
.fm-title-picker
  top initial
  bottom 0
  width 22px

.fm-picker-image
  right 100%

.fm-title-picker
  right 22px
