.ph-logo-link
  margin-right 10px

.ph-logo
  width 24px

.ph-title
  margin 0

.ph-logo-link,
.ph-title
  display inline-block
  vertical-align top

.ph-window-icons
  float right
  font-size 20px

.ph-window-icon
  margin-left 10px
