body:before
  content none

.pm-main
  padding 20px
  width 500px

  &:before,
  &:after
    position fixed
    top 0
    left 0
    content ''
    z-index z-popup-shade

  &:before
    right 0
    height 14px
    background linear-gradient(to left, c-white 0, c-yellow-highlight 33%, c-dark-orange 66%, c-pink 100%)
    border-bottom 10px solid c-white

  &:after
    bottom 0
    width 4px
    background linear-gradient(to top, c-white 0, c-yellow-highlight 33%, c-dark-orange 66%, c-pink 100%)

.pm-minimized .st-section
  display none !important

.pm-no-overflow
  overflow hidden
