body:before
  content none

.pm-main
  padding 20px
  width 500px

  &:before
    position fixed
    top 0
    bottom 0
    right 0
    width 4px
    content ''
    background linear-gradient(to bottom, c-white 0, c-yellow-highlight 33%, c-dark-orange 66%, c-pink 100%)
