// styles pulled directly from ponyfoo/ponyfoo
@import '../../../../ponyfoo/client/css/reset'
@import '../../../../ponyfoo/client/css/variables/fonts'
@import '../../../../ponyfoo/client/css/variables/colors'
@import '../../../../ponyfoo/client/css/variables/z'
@import '../../../../ponyfoo/client/css/variables/mixins'
@import '../../../../ponyfoo/client/css/browsers/col-cross-browser-outlines'
@import '../../../../ponyfoo/client/css/design/tags'
@import '../../../../ponyfoo/client/css/design/core'
@import '../../../../ponyfoo/client/css/design/pseudo'
@import '../../../../ponyfoo/client/css/design/placeholder'
@import '../../../../ponyfoo/client/css/design/input'
@import '../../../../ponyfoo/client/css/design/link'
@import '../../../../ponyfoo/client/css/design/fonts'
@import '../../../../ponyfoo/client/css/layout/core'
@import '../../../../ponyfoo/client/css/layout/heading'
@import '../../../../ponyfoo/client/css/layout/table'
@import '../../../../ponyfoo/client/css/layout/attributed'
@import '../../../../ponyfoo/client/css/components/uv-universal'
@import '../../../../ponyfoo/client/css/components/fa-font-awesome'
@import '../../../../ponyfoo/client/css/components/bt-buttons'
@import '../../../../ponyfoo/client/css/components/md-markdown'
@import '../../../../ponyfoo/client/css/components/md-highlights'
@import '../../../../ponyfoo/client/css/components/md-anchors'
@import '../../../../ponyfoo/client/css/view-components/wa-author-weeklies-assemble'
@import '../../../../ponyfoo/client/css/view-components/wy-weekly-newsletter'
@import '../../../../ponyfoo/client/css/view-components/wu-weekly-submissions'

// extension-specific
@import 'extension'
@import 'tags'
@import 'sl-social'
@import 'fm-forms'
@import 'pm-popup-main'
@import 'ph-popup-header'
@import 'st-popup-section'
@import 'tt-submitter-section'
@import 'ss-submission-section'
@import 'sx-success-section'
@import 'fx-failure-section'
