.ss-url
  text-align center
  font-variant small-caps
  font-style italic
  font-weight 300
  font-size 14px
  margin 20px 0

.ss-profile
  font-style italic

.ss-preview-container
  padding 5px 10px

.ss-detail-loading
  display block
  margin 0 auto
  padding 40px 0
  font-size 160px
