.st-description
  font-size 16px
  font-style italic
  color c-darker-gray

.st-actions
  margin-top 20px

.st-actions-full
  text-align right

.st-actions-left,
.st-actions-right
  display inline-block
  width 50%

.st-actions-right
  text-align right

.st-button-secondary
  display inline-block
  vertical-align middle
  margin-right 5px
